a,
a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: whitesmoke;
    height: 50px;
    padding: 20px 5%;
    z-index: 20;
    text-align: center;
}

section .name {
    float: left;
    width: 40%;
}

nav {
    float: right;
    width: 60%;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 0px;
}

.nav_list li {
    display: inline;
    padding-left: 0px;
    font-size: 20px;
}

main {
    top: 84px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: relative;
}

#about-me {
    height: 500px;
    color: white;
    padding-left: 40%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/aboutbg.jpg);
    background-position-x: right;
    background-position-y: 44%;
}

#about-me p {
    text-align: justify;
}

#skills {
    height: 300px;
    padding-top: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background-image: url(../Images/skillsbg.jpg);
}

#skills table {
    margin: 2px;
    width: 20%;
    text-align: center;
}

#skills tr {
    line-height: 28px;
}

.table_title {
    text-decoration: underline;
}

#projects {
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

#projects table {
    margin: 20px;
    width: 3 0%;
    text-align: justify;
}

#projects tr {
    line-height: 28px;
}

.project_title {
    text-decoration: underline;
    font-weight: bold;
}

#socials {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#socials ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#socials li {
    padding: 20px;
}

footer {
    height: 100px;
    color: white;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}