body {
    background-color: #8f8f8f;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    list-style-position: inside;
    text-decoration: none;

    background-image: url('../Images/smoke.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

a {
    text-decoration: none;
    color: #2f2f60;
    font-weight: bold;
}

#langs {
    text-align: center;
}

header {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 330px;
}

#pic {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
    width: 250px;
    border: 4px solid white;
    border-radius: 100%;
    margin-right: 20px;
}

#startText {
    margin-top: 1em;
    position: relative;
}

nav {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.index li {
    display: inline;
    list-style-type: none;
    padding-left: 0px;
}

.index-links {
    font-size: 18px;
    display: inline-block;
    background-color: #2f2f60;
    padding: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: whitesmoke;
    border: 4px;
    border-radius: 4px;
    font-weight: 600;
    transition-delay: 1s;
    transition-duration: 1s;
}

.index-links:hover {
    background-color: #8c8dc3;
    color: #2f2f60;
    transition-delay: 0s;
    transition-duration: 1s;
}

main {
    display: block;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

h1,
h2 {
    color: whitesmoke;
    background-color: #2f2f60;
    border: 4px;
    border-radius: 4px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    border-radius: 4px;
    line-height: 20px;
    font-weight: 700;
    margin: auto;
    transition-delay: 1s;
    transition-duration: 1s;
}

h1:hover,
h2:hover {
    background-color: #8c8dc3;
    transition-delay: 0s;
    transition-duration: 1s;
}

.links {
    text-decoration: none;
    color: #171849;
    font-weight: 600;
    transition-delay: 1s;
    transition-duration: 1s;
}

.links:hover {
    color: #8c8dc3;
    transition-delay: 0s;
    transition-duration: 1s;
}

#title {
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
}

.tops {
    padding: 10px 10px;
    font-family: 'Roboto Mono', monospace;
    width: 70%;
}

#pst {
    font-style: italic;
}

#name {
    color: #20406A;
}

.adjectives {
    color: #20406A;
}

.lists {
    line-height: 20px;
}

#divRyu {
    display: block;
    margin-bottom: 250px;
}

#ryu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    border: 4px;
    border-radius: 4px;
}

#ryuGolpe {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    opacity: 0;
    transition: 2s;
    transition-delay: 2s;
    border: 4px;
    border-radius: 4px;
}

#ryuGolpe:hover {
    opacity: 100;
    transition-delay: 0s;
    transition: 2s;
}

footer {
    font-style: italic;
}